<footer
  class="bg-[#004779] text-white pt-10 max-md:pt-5 pb-3 px-8 max-md:pb-2 max-md:px-4"
>
  <div
    class="mx-auto w-[90%] flex flex-col gap-4 md:gap-8 md:flex-row justify-between items-start"
  >
    <!-- Logo + redes -->
    <div class="flex flex-col items-start md:w-1/3">
      <div class="flex flex-col items-start">
        <a href="../index.html"
          ><img
            class="w-30"
            src="img/logo-white.png"
            alt="Logo de la agencia"
            title="Ir a página principal"
        /></a>
        <div class="flex gap-3 mx-auto mt-2">
          <a
            href="https://www.facebook.com/TerranovaInmobiliaria"
            target="_blank"
            rel="nofollow noopener noreferrer"
            title="Ir a perfil de facebook de Terranova Inmobiliaria"
            class="hover:text-yellow-400 text-2xl"
            ><i class="fa-brands fa-square-facebook"></i
          ></a>
          <a
            href="https://www.instagram.com/TerranovaInmobiliaria"
            target="_blank"
            rel="nofollow noopener noreferrer"
            title="Ir al perfil de instagram de Terranova Inmobiliaria"
            class="hover:text-yellow-400 text-2xl"
            ><i class="fa-brands fa-instagram"></i
          ></a>
          <a
            href="https://www.x.com/TerranovaInmobiliaria"
            target="_blank"
            rel="nofollow noopener noreferrer"
            title="Ir a perfil de twitter de Terranova Inmobiliaria"
            class="hover:text-yellow-400 text-2xl"
            ><i class="fa-brands fa-x-twitter"></i
          ></a>
          <a
            href="https://www.whatsapp.com"
            target="_blank"
            rel="nofollow noopener noreferrer"
            title="Ir al chat de Terranova Inmobiliria"
            class="hover:text-yellow-400 text-2xl"
            ><i class="fa-brands fa-whatsapp"></i
          ></a>
        </div>
      </div>
    </div>

    <!-- Búsquedas frecuentes -->
    <aside class="md:w-1/3 mt-8 max-md:mt-4 md:mt-0">
      <h4 class="text-base font-semibold underline decoration-yellow-400 mb-3">
        Búsquedas frecuentes
      </h4>
      <ul class="flex flex-col gap-2 text-sm">
        <li>
          <a
            href="#"
            class="hover:text-yellow-400 transition-colors"
            rel="noopener noreferrer"
            >Departamentos en alquiler</a
          >
        </li>
        <li>
          <a
            href="#"
            class="hover:text-yellow-400 transition-colors"
            rel="noopener noreferrer"
            >Departamentos en venta</a
          >
        </li>
        <li>
          <a
            href="#"
            class="hover:text-yellow-400 transition-colors"
            rel="noopener noreferrer"
            >Terrenos en Valle Viejo</a
          >
        </li>
        <li>
          <a
            href="#"
            class="hover:text-yellow-400 transition-colors"
            rel="noopener noreferrer"
            >Oficinas Comerciales</a
          >
        </li>
      </ul>
    </aside>

    <!-- Atajos para el usuario -->
    <aside class="md:w-1/3 mt-8 max-md:mt-2 md:mt-0">
      <h4 class="text-base font-semibold underline decoration-yellow-400 mb-3">
        Atajos
      </h4>
      <ul class="flex flex-col gap-2 text-sm">
        <li>
          <a href="#" class="hover:text-yellow-400" rel="noopener noreferrer"
            >Preguntas frecuentes(FAQ)</a
          >
        </li>
        <li>
          <a href="#" class="hover:text-yellow-400" rel="noopener noreferrer"
            >Blog/Noticias Inmboliliarias</a
          >
        </li>
        <li>
          <a href="#" class="hover:text-yellow-400" rel="noopener noreferrer"
            >Calculadora de Crédito Hipotecario</a
          >
        </li>
        <li>
          <a href="#" class="hover:text-yellow-400" rel="noopener noreferrer"
            >Testimonio de clientes</a
          >
        </li>
      </ul>
    </aside>

    <!-- contacto info -->
    <aside class="md:w-1/3 not-italic mt-8 max-md:mt-2 md:mt-0">
      <h4 class="text-base font-semibold underline decoration-yellow-400 mb-2">
        Contacto
      </h4>
      <ul class="text-sm">
        <li class="mb-2 flex items-center">
          <i class="mr-2 fa-solid fa-location-dot"></i>
          <a
            class="hover:text-yellow-400"
            href="https://maps.app.goo.gl/SFL4MTzVBpwmEMSY7"
            target="_blank"
            title="Ver Ubicación por GoogleMaps"
            rel="noopener noreferrer"
          >
            Av. Presidente Castillo 1639, San Fernando del Valle de Catamarca
          </a>
        </li>
        <li class="mb-2 flex items-center">
          <i class="fa-solid fa-envelope mr-2"></i>
          <a
            class="hover:text-yellow-400"
            href="https://mail.google.com/mail/u/0/#inbox?compose=PNRMKgMTHLCNnlMMnRGkbhWLxmftrLQGMJTxsKpFSFPbZqqmHxgJwgvwCrKJZPcpLbWVKSRZtNJzvDq"
            target="_blank"
            title="Envianos un correo electronico"
            rel="noopener noreferrer"
            >info@terravoainmobiliaria.com.ar</a
          >
        </li>
        <li class="mb-2 flex items-center">
          <i class="fa-solid fa-phone mr-2"></i>
          <a
            href="tel: +54 383 4123456"
            target="_blank"
            title="Llamanos"
            class="hover:text-yellow-400"
            >+54 383 4123456</a
          >
        </li>
        <li class="mb-2 flex items-center">
          <i class="fa-solid fa-clock mr-2"></i>
          Horarios: Lun-Jue 8-18hs, Vie-Sab 9-17hs.
        </li>
      </ul>
    </aside>
  </div>
  <!-- pie el footer -->
  <footer
    class="mx-auto w-[90%] mt-8 max-md:mt-4 border-t border-yellow-500 pt-4 flex flex-col md:flex-row justify-between items-center text-xs text-gray-200"
  >
    <p class="mb-2 md:mb-0">
      &copy; Terranova 2025 - Todos los derechos reservados
    </p>
    <ul class="flex gap-4">
      <li>
        <a
          class="hover:text-yellow-400"
          href="#"
          rel="noopener noreferrer"
          title="Ver terminos y condiciones"
          >Términos y Condiciones</a
        >
      </li>
      <li>
        <a
          class="hover:text-yellow-400"
          href="#"
          title="Leer politicas de privacidad"
          >Políticas de Privacidad</a
        >
      </li>
      <li>
        <a
          class="hover:text-yellow-400"
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          title="Ir a información del consumidor"
          >Información al consumidor</a
        >
      </li>
    </ul>
  </footer>
</footer>
