<header
  class="main-header bg-color flex items-center justify-between xl:justify-around shadow-lg max-[360px]:px-5"
>
  <!-- Botón hamburguesa (solo el mobile)-->
  <button id="menu-btn" class="md:hidden text-white text-2xl">
    <i class="fa-solid fa-bars"></i>
  </button>

  <!-- Menú lateral -->
  <aside
    id="mobile-menu"
    class="hidden side-menu transition-transform duration-300 ease-lineal"
  >
    <!-- Encabezado del menú -->
    <div class="flex items-center justify-between p-4 border-b border-gray-300">
      <span class="font-bold text-lg text-gray-800">Menú</span>
      <button id="close-menu" class="text-2xl text-[#004B81]">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>

    <!-- Items del menú -->
    <nav class="flex flex-col p-4 gap-4 text-dark font-medium">
      <a
        href="../index.html"
        class="flex items-center gap-2 text-[#004B81] font-semibold"
      >
        Inicio
      </a>
      <a
        href="../pages/en-alquiler.html"
        class="flex items-center gap-2 text-[#004B81] font-semibold"
      >
        Alquileres
      </a>
      <a
        href="../pages/en-venta.html"
        class="flex items-center gap-2 text-[#004B81] font-semibold"
      >
        En Venta
      </a>
      <a
        href="../pages/nosotros.html"
        class="flex items-center gap-2 text-[#004B81] font-semibold"
      >
        Sobre Nosotros
      </a>
      <a
        href="../pages/contacto.html"
        class="flex items-center gap-2 text-[#004B81] font-semibold"
      >
        Contacto
      </a>
    </nav>
  </aside>

  <!-- Overlay oscuro -->
  <div id="overlay" class="dark-overlay hidden"></div>

  <!--Header Logo white -->
  <div class="max-w-36 max-sm:max-w-30">
    <a href="index.html">
      <img class="w-full" src="../assets/img/logos/logo-white.png" alt="Logo de la agencia" />
    </a>
  </div>
  <!-- Header nav -->
  <nav class="hidden md:flex">
    <ul class="flex text-gray-200 text-clear font-medium">
      <li>
        <a
          class="flex items-center navbar-items text-clear font-medium max-lg:px-2"
          href="../index.html"
          >Inicio</a
        >
      </li>
      <li>
        <a
          class="flex items-center transition-colors duration-300 ease-in-out-in-out hover:bg-[#005fa3] px-5 h-18 max-lg:px-2"
          href="../pages/en-alquiler.html"
          >Alquileres</a
        >
      </li>
      <li>
        <a
          class="flex items-center transition-colors duration-300 ease-in-out-in-out hover:bg-[#005fa3] px-5 h-18 max-lg:px-2"
          href="../pages/en-venta.html"
          >En Venta</a
        >
      </li>
      <li>
        <a
          class="flex items-center transition-colors duration-300 ease-in-out-in-out hover:bg-[#005fa3] px-5 h-18 max-lg:px-2"
          href="../pages/nosotros.html"
          >Sobre Nosotros</a
        >
      </li>
      <li>
        <a
          class="flex items-center transition-colors duration-300 ease-in-out-in-out hover:bg-[#005fa3] px-5 h-18 max-lg:px-2"
          href="../pages/contacto.html"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
  <!-- header contacto (mobile) -->
  <div class="text-2xl text-gray-200 flex md:hidden max-[540px]:hidden">
    <a
      href="../pages/contacto.html"
      title="Contactanos"
      ><i class="fa-regular fa-message"></i
    ></a>
  </div>
</header>
