<header
    class="main-header px-[5%] bg-primary relative flex items-center justify-between xl:justify-around shadow-lg max-[360px]:px-5"
>
    <!-- Botón hamburguesa (solo el mobile)-->
    <button id="menu-btn" class="min-[910px]:hidden text-ligth text-2xl">
        <i class="fa-solid fa-bars"></i>
    </button>

    <!-- Menú lateral -->
    <aside
        id="mobile-menu"
        class="side-menu "
    >
        <!-- Encabezado del menú -->
        <div
            class="flex items-center justify-between p-4 border-b border-gray-300"
        >
            <span class="font-bold text-lg text-dark">Menú</span>
            <button id="close-menu" class="text-2xl text-dark">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>

        <!-- Items del menú -->
        <nav class="flex flex-col p-4 gap-4">
            <a
                href="../index.html"
                class="py-4 font-semibold text-lg text-dark-medium"
            >
                Inicio
            </a>
            <a
                href="../pages/en-alquiler.html"
                class="py-4 font-semibold text-lg text-dark-medium"
            >
                Alquileres
            </a>
            <a
                href="../pages/en-venta.html"
                class="py-4 font-semibold text-lg text-dark-medium"
            >
                En Venta
            </a>
            <a
                href="../pages/nosotros.html"
                class="py-4 font-semibold text-lg text-dark-medium"
            >
                Sobre Nosotros
            </a>
            <a
                href="../pages/contacto.html"
                class="py-4 font-semibold text-lg text-dark-medium"
            >
                Contacto
            </a>
        </nav>
    </aside>

    <!-- Overlay oscuro -->
    <div id="overlay" class="dark-overlay hidden"></div>

    <!--Header Logo white -->
    <div class="max-w-36 max-sm:max-w-30">
        <a href="../index.html">
            <img
                class="w-full"
                src="../assets/img/logos/logo-white.png"
                alt="Logo de la agencia"
            />
        </a>
    </div>
    <!-- Header nav -->
    <nav class="hidden min-[910px]:flex">
        <ul class="flex">
            <li>
                <a
                    class="navbar-items font-medium max-lg:px-2 text-ligth"
                    href="../index.html"
                    >Inicio</a
                >
            </li>
            <li>
                <a
                    class=" navbar-items font-medium max-lg:px-2 text-ligth"  
                    href="../pages/en-alquiler.html"
                    >Alquileres</a
                >
            </li>
            <li>
                <a
                    class="navbar-items font-medium max-lg:px-2 text-ligth"
                    href="../pages/en-venta.html"
                    >En Venta</a
                >
            </li>
            <li>
                <a
                    class="navbar-items font-medium max-lg:px-2 text-ligth"
                    href="../pages/nosotros.html"
                    >Sobre Nosotros</a
                >
            </li>
            <li>
                <a
                    class="navbar-items font-medium max-lg:px-2 text-ligth"
                    href="../pages/contacto.html"
                    >Contacto</a
                >
            </li>
        </ul>
    </nav>
    <!-- header contacto (mobile) -->
    <div class="text-2xl text-ligth flex min-[910px]:hidden max-[540px]:hidden">
        <a href="../pages/contacto.html" title="Contactanos"
            ><i class="fa-regular fa-message"></i
        ></a>
    </div>
</header>
