* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --color-primary: #00356B;
    --color-secondary: #01d196;
    --third-color: #0492c2;
    --bg-light-color-secondary: #d4e8fa;
    --bg-light-color-primary: #FAFAFA;
    --text-dark: #1E1E1E;
    --text-light: #FAFAFA;
    --font-family: 'Nunito', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: var(--font-family);
    transition: all 0.3s ease;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex {
    display: flex;
}

.center-content-y {
    align-items: center;
}

.flex-d-col {
    flex-direction: column;
}

.w-section {
    width: 90%;
    margin: 0 auto;
}

.justify-c-between {
    justify-content: space-between;
}

.padd-y-section {
    padding: 4rem 0;
}

.gap-section {
    gap: 2rem;
}

.w-section-figure {
    width: 100%;
}


.btn {
    font-size: var(--font-size-btn);
    font-family: var(--font-family);
    padding: .75rem 1rem;
    border: none;
    background-color: transparent;
    border-radius: 50px;
    font-weight: 700;
    cursor: pointer;
}

.btn--primary {
    background-color: var(--color-secondary);
    color: var(--text-dark);
}

.btn--tertiary {
    background-color: var(--color-primary);
    color: var(--text-light);
}


.title-section {
    font-size: 1.5rem;
    padding: .5rem 0;
}

.text-section {
    /* aumentar tamaño en pantallas más grandes */
    font-size: 1rem;
    line-height: 1.5;
}

.section-badge {
    display: inline-flex;
    font-size: 1rem;
    font-weight: 800;
    padding: .5rem .625rem;
    border-radius: 20px;
    gap: .5rem;
}

.section-badge-bg-clear {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.section-badge-bg-dark {
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
}

.badge-SVG-bg-clear {
    fill: var(--color-primary);
}

.badge-SVG-bg-dark {
    fill: var(--color-secondary);
}

.benefits-list {
    list-style: none;
    gap: 1rem;
    font-size: .9375rem;
}

.benefits-list__item {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.maintenance-section button {
    margin-top: 2rem;
}

.subtitle-section {
    margin: 1rem 0;
    font-size: 1.125rem;
}

.SVG-badge {
    min-width: 24px;
    max-width: 24px;
}

.SVG-badge--primary {
    fill: var(--color-secondary);
}

.SVG-badge--secondary {
    fill: var(--color-primary);
}

/**************************
        Seccion Hero
**************************/
.hero-section {
    background-color: var(--color-primary);
    color: var(--text-light);
}

.hero-section__container {
    padding: 1rem 0 3rem;
    display: grid;

    grid-template-areas:
        "image_svg"
        "call_to_action"
        "extras";
    gap: 2rem;
}

.hero-section__svg {
    grid-area: image_svg;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.hero-section__cta {
    grid-area: call_to_action;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.cta__headline {
    font-size: 2.25rem;
    margin-bottom: .625rem;
}

.cta__supporting-text {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
}


.hero-section__extras {
    display: grid;
    grid-area: extras;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: flex-start;
}

.extras__card {
    padding: 1rem;
}

.extras__card h2 {
    font-size: 1.375rem;
}

.extras__card p {
    font-size: .875rem;
    font-weight: 400;
}



/***************************
        Encabezado 
***************************/

.header {
    background-color: transparent;
    height: 5rem;
}

/* Añadir clase co JS cuando se haga scroll */
.header--scrolled {
    background-color: var(--bg-light-color-primary);
    box-shadow: 0 2px 4px var(--color-primary);
}

.header__container {
    height: 100%;
}

.w-h-logo-SVG {
    width: 10rem;
    height: 2.5rem;
}

.font-logo {
    font-family: var(--font-family);
    font-size: 30px;
    font-weight: bold;
}

.header__logo-color {
    fill: var(--text-light);
}

/* Cambiar color de logo cuendo se haga scroll */
.header__logo-color--scrolled {
    fill: var(--color-primary);
}


.header__btn {
    width: 1.75rem;
    height: 1.25rem;
    border: none;
    background: none;

}

.header__btn--hidden {
    display: none;
}


/******************************
        Side menu 
 *****************************/
.side-menu--hidden {
    display: none;
}

.side-menu {
    min-width: 290px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: var(--color-secondary);
    box-shadow: 0 2px 4px var(--color-primary);
}

.open-side-menu__bar {
    width: 100%;
    height: 3px;
    background-color: var(--bg-light-color-primary);
    border-radius: 10px;
}

.open-side-menu__bar--half {
    width: 60%;
}

#close-side-menu {
    border: none;
    background: none;
}

.close-side-menu-SVG {
    fill: var(--text-dark);
    width: 2.375rem;
}

.side-menu__header {
    font-size: 2rem;
    height: 4rem;
    padding: 2rem;
    color: var(--text-dark);
}

.side-menu__links {
    padding: 3rem 0;
}

.side-menu__items {
    gap: 4rem;
    list-style: none;
}

.side-menu__link {
    text-decoration: none;
    color: var(--text-dark);
}

.dark-overlay--hidden {
    display: none;
}

.dark-overlay {
    position: fixed;
    inset: 0;
    z-index: 90;
    background-color: var(--color-primary);
    opacity: .4;
}

/*************************************************
        Sección de pagos pagos de alquiler
**************************************************/
.section-payments {
    background-color: var(--bg-light-color-primary);
    color: var(--text-dark);
}

.payments__title {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.payments__inner-container {
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;
}

.payments__info {
    width: 100%;
}

.payments__header {
    margin-bottom: 1rem;
    ;
}



/*********************************
    Sección intercambio 
    de docuementos 
**********************************/
.sharing-section {
    background-color: var(--color-primary);
    color: var(--text-light);
}

.sharing-section__container {
    flex-direction: column;
}

/****************************
    Sección mantenimiento
******************************/
.maintenance-section {
    background-color: var(--bg-light-color-primary);
    color: var(--text-dark);
}

.maintenance-section__container {
    flex-direction: column;
}

/*************************************
    Sección por que elegirnos
***********************************/
.why-choose-section {
    background-color: var(--bg-light-color-secondary);
    color: var(--text-dark);
}

.why-choose__title-section {
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 3rem;
}

.why-chose__details-container {
    gap: 1rem;
}

.why-choose__details {
    padding: 1.5rem;
    border-radius: 15px;
}

.why-choose__summary {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.why-choose__summary-title {
    font-size: 1.125rem;
}

.why-choose__summary-text {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 1rem;
}

.firts-details-color {
    background-color: var(--color-primary);
    color: var(--text-light);
    fill: var(--text-light);
}

.second-details-color {
    background-color: var(--color-secondary);
    color: var(--text-dark);
    fill: var(--text-dark);
}

.third-details-color {
    background-color: var(--third-color);
    color: var(--text-light);
    fill: var(--text-light);
}

.why-choose__container-SVG {
    min-height: 50px;
    min-width: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.why-choose__cards-container {
    width: 100%;
    display: none;
    margin-top: 2rem;
}

/*
.cards-container__card {
    max-width: 480px;
    min-height: 250px;
    box-shadow: 0 0 4px var(--color-primary);
    background-color: var(--color-primary);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem;
}


.cards-container__card div {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    display: none;
}


.card__icon {
    font-size: 2rem;
    color: var(--color-tertiary);
}

.card__title {
    font-size: 1.375rem;
} */

/*****************************************
        Sección Como funciona
******************************************/
.how-work-section {
    background-color: var(--color-primary);
    color: var(--text-light);
}

.how-work-section__container {
    flex-direction: column;
}

.how-work__title-section {
    font-size: 1.75rem;
    text-align: center;
    margin: 1rem 0;
}

.how-work__instructions {
    display: none;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    margin-top: 2rem;
}

.details-container {
    gap: 1rem;
    padding: 1rem 0;
}

.how-work__details {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    cursor: pointer;
    font-size: 1rem;
}

.how-work__summary {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
}


.summary__number {
    font-size: 1rem;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;

}

.summary__title {
    font-size: 1.125rem;
}

.how-work__details p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 0 1rem 1rem;
}

/* .instructions__item {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    padding: 1rem;
    background-color: var(--color-primary);
}

.instructions__item span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    color: var(--color-tertiary);
}

.item__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.instructions__title {
    font-size: 1.25rem;
    font-weight: 500;
}

.instructions__text {
    font-size: .875rem;
    font-weight: 400;
} */


/*******************************************
    Sección nuestros planes
****************************************/
.our-plan-section {
    background-color: var(--bg-light-color-primary);
    color: var(--text-dark);
}

.our-plan__title {
    text-align: center;
    font-size: 1.875rem;
    margin-bottom: 1rem;
}

.text-section-center {
    text-align: center;
}

.our-plan__card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 2rem;
}

.our-plan__card {
    border-radius: 25px;
    padding: 1rem;
    max-width: 27rem;
    margin: 0 auto;
}

.our-plan__card--primary {
    background-color: var(--color-primary);
    padding: 1.375rem .875rem;
    color: var(--text-light);
}

.our-plan__card--secondary {
    background-color: var(--text-light);
    padding: 1.375rem .875rem;
    border: 1px solid var(--color-primary);
}

.card-primary__title {
    margin-top: 1rem;
}

.card-primary__title,
.card-secondary__title {
    font-size: 1.375rem;
}

.card-secondary__subtitle {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.card-price {
    font-size: 2rem;
}

.card-price span {
    font-size: .625em;
    margin: 0;
}

.card__content-container {
    height: 100%;
    width: 100%;
    gap: 2rem;
}

/*********************************
        Sección testimonios 
        de clientes
**********************************/

.section-testimonials {
    background-color: var(--color-primary);
    color: var(--text-light);
}

.section-testimonials__title {
    font-size: 1.75rem;
    text-align: center;
}

.testimonials-card-badge {
    display: flex;
    width: 36px;
    height: 36px;
    border: 1px solid var(--color-secondary);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.carrusel-container {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.carrusel-card__testimony {
    font-size: 1rem;
    color: var(--text-light);
    font-weight: 400;
    line-height: 1.5;
}

.carrusel__card {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
}

.card__client {
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
}

.client__img-container {
    width: 40px;
}

.client__name {
    font-size: 1rem;
    color: var(--text-light);
}

.client__type {
    font-size: .875rem;
    font-weight: 400;
    color: var(--text-light);
}

.btn-carrusel {
    background-color: transparent;
    font-size: .875rem;
}

.btn-carrusel svg {
    width: 24px;
    fill: var(--color-secondary);
}

.carrusel__btn-container {
    padding-top: 1rem;
    width: 80%;
    margin: 0 auto;
}


/*********************************
            Sección FAQs
**********************************/
.FAQs-section {
    background-color: var(--bg-light-color-primary);
    color: var(--text-dark);
}


.FAQs-section__title {
    font-size: 1.75rem;
}

.FAQs-section__container {
    flex-direction: column;
}

.FAQs-cta {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

.FAQs__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: .875rem;
    width: 100%;
}

.FAQs__details {
    padding: 1rem 1.375rem;
    color: var(--text-dark);
    border-radius: 15px;
    background-color: var(--third-color);
    cursor: pointer;
}

.FAQs__details[open] {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.FAQs__summary {
    list-style: none;
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    color: var(--text-light);
}


.FAQs__summary h4 {
    font-size: 1.125rem;
}


.FAQs__details p {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text-light);
    margin: 0 10px;
}

.FAQs__details[open] summary {
    padding-bottom: .625rem;
}

.FAQs__details--SVG-close,
.FAQs__details--SVG-open {
    min-width: 20px;
    max-width: 20px;
    fill: var(--text-light);
}

.FAQs__details--SVG-open {
    display: none;
}

.FAQs__details[open] .FAQs__details--SVG-close {
    display: none;
}

.FAQs__details[open] .FAQs__details--SVG-open {
    display: flex;
}

/*****************************
    Pie de página
*****************************/

footer {
    background-color: var(--color-primary);
    color: var(--text-light);
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.footer-color-logo {
    fill: var(--text-light);
}

.footer__logo-section p {
    font-size: .875rem;
    color: var(--text-light);
    margin-top: 1rem;
    line-height: 1.4;
}

.footer__quick-navigation {
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
}

.quick-navigation__title {
    font-size: 1rem;
    margin-top: 1rem;
}

.quick-navigation__list {
    list-style: none;
    gap: .625rem;
    margin-top: 1rem;
}

.quick-navigation__list a {
    color: var(--text-light);
    font-size: .875rem;
    text-decoration: none;

}

.contact-us-title {
    font-size: 1rem;
    margin-top: 1rem;
    font-style: normal;
}

.contact-us-list {
    list-style: none;
    gap: .5rem;
    margin-top: .5rem;
}

.contact-us-list a {
    text-decoration: none;
    font-style: normal;
    color: var(--text-light);
    font-size: .875rem;
}

.footer__horizontal-line {
    width: 100%;
    height: 2px;
    background-color: var(--text-light);
    opacity: .2;
    margin: 10px 0;
}

.section-subscribe-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    text-align: center;
}

.subscribe-container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    padding: 8px;
    width: 100%;
    position: relative;
}

.subscribe-input {
    background-color: transparent;
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: .625rem 1rem;
    color: var(--text-light);
}

.subscribe-input::placeholder {
    color: var(--text-light);
    font-size: .875rem;
    opacity: .7;
}

.btn__subscribe {
    position: absolute;
    right: 4px;
}

.footer__social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.footer__social div {
    width: 45px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.footer__social div svg {
    fill: var(--color-primary);
}

.footer__social a div:hover {
    background-color: var(--bg-light-color-primary);
    transition: background-color 0.2s ease-in-out;
}


/******************** Media Querys ***************************/
@media (min-width: 468px) {
    .hero-section__svg {
        width: 80%;
    }

    .w-section {
        width: 85%;
    }
}

@media (min-width: 576px) {
    .hero-section__container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "image_svg extras"
            "call_to_action call_to_action";
    }

    .hero-section__svg {
        width: 100%;
    }

    .w-section {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .hero-section__container {
        grid-template-areas:
            "call_to_action image_svg"
            "extras extras";
    }

    .hero-section__extras {
        grid-template-columns: repeat(4, 1fr);
    }

    .payments__inner-container {
        flex-direction: row;
    }

    .payments__info {
        width: 40%;
    }
}